.card {
    width: 120px;
    height: 120px;
    float: left;
    margin: 75px;
    padding: 75px;
    border-color: purple;
}
img {
    max-width: 100%;
    height: auto;
}

body {
  background-color: peachpuff;
}




