<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css?q={{time}}">
        
    </head>
    <body>
        <form method="post" action="/index">
                    <input type="submit" value="Go back to the home page"/>
        </form>
        <h3> This is our favorite Indian Foods! </h3>
        <div class="card" style="width: 200px;">
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2019/9/9/0/FNK_the-best-biryani_H.JPG.rend.hgtvcom.826.620.suffix/1568143107638.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Chiken Biryani - 100 g</h4>
                <ul class="card-text">
                    <li>Calories: 140</li>
                    <li>Carbs: 18.6 g</li>
                    <li>Fat: 4.5 g</li>
                    <li>Protein: 5.5 g</li>
                    <li>Fiber: .9 g</li>
                    <li>Sugar: 1.5 g</li>
                    <li>Sodium: 298  mg</li>
                    <li>Cholesterol: 17 mg</li>
                </ul>
            </div>
            </div>
        <div class="card" >
            <img src="https://stuffmyboyfriendtellsme.files.wordpress.com/2013/08/samosa1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Samosa</h4>
                <ul class="card-text">
                    <li>Calories: 308</li>
                    <li>Carbs: 32.2 g</li>
                    <li>Fat: 17.9 g</li>
                    <li>Protein: 4.7 g</li>
                    <li>Fiber: 1.7 g</li>
                    <li>Sugar: 1.2 g</li>
                    <li>Sodium: 819 mg</li>
                    <li>Cholesterol: 9 mg</li>
                </ul>
                
            </div>
            </div>
        <div class="card" style="width: 200px;">
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2019/10/9/DV3016_masala-dosa_s4x3.jpg.rend.hgtvcom.826.620.suffix/1570635680579.jpeg" class="card-img-bot" alt="...">
            <div class="card-body">
                <h4 class="card-title">Masala Dosa</h4>
                <ul class="card-text">
                    <li>Calories: 489</li>
                    <li>Carbs: 82.3 g</li>
                    <li>Fat: 11.2 g</li>
                    <li>Protein: 14.6 g</li>
                    <li>Fiber: 1.7 g</li>
                    <li>Sugar: 3 g</li>
                    <li>Sodium:  884 mg</li>
                    <li>Cholesterol: 0 mg</li>
                </ul>
            </div>
            </div>
        <div class="card" style="width: 18rem;">
            <img src="https://s3-us-west-1.amazonaws.com/contentlab.studiod/getty/65b98aede4b147ae841c53125aefa01d.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Idli</h5>
                <ul class="card-text">
                    <li>Calories: 33</li>
                    <li>Carbs: 7.2 g</li>
                    <li>Fat: .1 g</li>
                    <li>Protein: 1 g</li>
                    <li>Fiber: .3 g</li>
                    <li>Sugar: 0 g</li>
                    <li>Sodium:  11 mg</li>
                    <li>Cholesterol: 0 mg</li>
                </ul>
            </div>
            </div>
              
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>