<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css?q={{time}}">
    </head>
    <body>
        <div class="card" style="width: 200px;">
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2019/9/9/0/FNK_the-best-biryani_H.JPG.rend.hgtvcom.826.620.suffix/1568143107638.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Chiken Biryani - 100 g</h5>
                <ul class="card-text">
                    <li>Calories: 140</li>
                    <li>Carbs: 18.6 g</li>
                    <li>Fat: 4.5 g</li>
                    <li>Protein: 5.5 g</li>
                    <li>Fiber: .9 g</li>
                    <li>Sugar: 1.5 g</li>
                    <li>Sodium: 298  mg</li>
                    <li>Cholesterol: 17 mg</li>
                </ul>
                <a href="#" class="btn btn-primary">Home</a>
            </div>
            </div>
        <div class="card" >
            <img src="https://stuffmyboyfriendtellsme.files.wordpress.com/2013/08/samosa1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samosa</h5>
                <ul class="card-text">
                    <li>Calories: 308</li>
                    <li>Carbs: 32.2 g</li>
                    <li>Fat: 17.9 g</li>
                    <li>Protein: 4.7 g</li>
                    <li>Fiber: 1.7 g</li>
                    <li>Sugar: 1.2 g</li>
                    <li>Sodium:  819 mg</li>
                    <li>Cholesterol: 9 mg</li>
                </ul>
                <form method="post" action="/index">
                    <input type="submit" value="Go back to the home page"/>
                </form>
            </div>
            </div>
        <div class="card" style="width: 200px;">
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2019/10/9/DV3016_masala-dosa_s4x3.jpg.rend.hgtvcom.826.620.suffix/1570635680579.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Masala Dosa</h5>
                <ul class="card-text">
                    <li>Calories: 489</li>
                    <li>Carbs: 82.3 g</li>
                    <li>Fat: 11.2 g</li>
                    <li>Protein: 14.6 g</li>
                    <li>Fiber: 1.7 g</li>
                    <li>Sugar: 3 g</li>
                    <li>Sodium:  884 mg</li>
                    <li>Cholesterol: 0 mg</li>
                </ul>
                <a href="#" class="btn btn-primary">Home</a>
            </div>
            </div>
              
    </body>
</html>