<html>
    <head>
        <title>Indian Calorie Calculator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    </head>
    <body>
        <nav>
        <div class="navbar navbar-expand-lg navbar-light bg-warning">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg" width = 100px; height = auto>
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME PAGE <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Features</a> -->
        <form class="nav-link" method="post" action="/foods">
            <input type="submit" value="List"/>
        </form>
      </li>
    </ul>
    
  </div>
  </div>

</nav>
<h4>Welcome! When you are a family member of an Indian family, they will stuff you with food everytime you go and visit them. Our mission is to figure out how many calories etc you are actually consuming. We want to help YOU out by figuring out what the goody goody stuff is and horrible for you stuff.</h4>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/-f1DNyngKVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <form method="post" action="/result">
            <input type="text" name="food" placeholder="What were you force fed?"/>
            <input type="text" name="quantity" placeholder="How much did you have?"/>
            <input type="submit" value="Submit"/>
        </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    
</html>
